<%= form_for(@procedure_list) do |f| %>
  <% if @procedure_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure_list.errors.count, "error") %> prohibited this procedure_list from being saved:</h2>

      <ul>
      <% @procedure_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :procedure_id %><br />
    <%= f.number_field :procedure_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
