<h1>Listing procedure_lists</h1>

<table>
  <tr>
    <th>Procedure</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @procedure_lists.each do |procedure_list| %>
  <tr>
    <td><%= procedure_list.procedure_id %></td>
    <td><%= procedure_list.location %></td>
    <td><%= link_to 'Show', procedure_list %></td>
    <td><%= link_to 'Edit', edit_procedure_list_path(procedure_list) %></td>
    <td><%= link_to 'Destroy', procedure_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Procedure list', new_procedure_list_path %>
